    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature"	alt="">
            <span><h4>{{position}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Servicios</p>
            <ul>
                <li *ngFor="let i of destino.servicios">
                    <span [ngSwitch]="i">
                        <i *ngSwitchCase="'desayuno'" style="color: red;">{{i}}</i>
                        <i *ngSwitchCase="'piscina'" style="color: red;">{{i}}</i>
                        <i *ngSwitchDefault>{{i}}</i>                        
                    </span>
                </li>
            </ul>
                <a href="#"	class="btn-card" (click)="ir()">Ir</a>	
                <span *ngIf="destino.isSelected()">
                    <span ngNonBindable>{{- PREFERIDO -}}</span>
                </span>	
                <a [routerLink]="['/destino']">Ver Detalle</a>	
        </div>
    </div>